In [1]:
import pandas as pd
import math

In [2]:
# это будет не правильным набором, т.к. это единая группа
doc1 = ["Фильм про педагога, который собрал свою музыкальную группу",
        "Отличное роуд-муви по ностальгическим местам всех педагогов США",
        "Студент-подросток должен победить бывших парней своей девушки. Обычная жизнь канадского студента"]

In [3]:
# каждый декст - это документ в наборе документов
doc1 = ["Фильм про педагог, который собрал свою музыкальн групп",]
doc2 = ["Отличн роуд-муви по ностальгическ местам всех педагог США",]
doc3 = ["Студент-подросток должен победит бывш парн своей девушк. Обычн жизн канадск студент",]

In [4]:
# приводим к единому виду
doc1_tokens = sum([doc.lower().replace(',', '').replace('.', '').split() for doc in doc1], [])
doc2_tokens = sum([doc.lower().replace(',', '').replace('.', '').split() for doc in doc2], [])
doc3_tokens = sum([doc.lower().replace(',', '').replace('.', '').split() for doc in doc3], [])

print(doc1_tokens)

['фильм', 'про', 'педагог', 'который', 'собрал', 'свою', 'музыкальн', 'групп']

In [5]:
# чистим от стоп-слов
stopwords = ['про', 'по', ]

doc1_tokens = set(doc1_tokens) - set(stopwords)
doc2_tokens = set(doc2_tokens) - set(stopwords)
doc3_tokens = set(doc3_tokens) - set(stopwords)

print(doc1_tokens)

{'групп', 'собрал', 'фильм', 'который', 'педагог', 'музыкальн', 'свою'}

In [6]:
# создаем уникальный набор для получения единого словаря
unique_tokens = set(doc1_tokens).union(set(doc2_tokens)).union(set(doc3_tokens))

In [7]:
count_doc1 = dict.fromkeys(unique_tokens, 0)
for token in doc1_tokens:
    count_doc1[token] += 1
    
count_doc2 = dict.fromkeys(unique_tokens, 0)
for token in doc2_tokens:
    count_doc2[token] += 1    

count_doc3 = dict.fromkeys(unique_tokens, 0)
for token in doc3_tokens:
    count_doc3[token] += 1    
    
count_doc1

{'групп': 1,
 'всех': 0,
 'студент-подросток': 0,
 'парн': 0,
 'победит': 0,
 'педагог': 1,
 'ностальгическ': 0,
 'своей': 0,
 'местам': 0,
 'канадск': 0,
 'роуд-муви': 0,
 'свою': 1,
 'бывш': 0,
 'собрал': 1,
 'обычн': 0,
 'сша': 0,
 'жизн': 0,
 'девушк': 0,
 'отличн': 0,
 'должен': 0,
 'студент': 0,
 'фильм': 1,
 'который': 1,
 'музыкальн': 1}

In [8]:
# TF
def calculate_tf(count_doc, doc_tokens):
    tf = dict()
    for token, count in count_doc.items():
        tf[token] = count / float(len(doc_tokens))
    return tf
    
tf1 = calculate_tf(count_doc=count_doc1, doc_tokens=doc1_tokens)
tf2 = calculate_tf(count_doc=count_doc2, doc_tokens=doc2_tokens)
tf3 = calculate_tf(count_doc=count_doc3, doc_tokens=doc3_tokens)

print(tf1)

{'групп': 0.14285714285714285, 'всех': 0.0, 'студент-подросток': 0.0, 'парн': 0.0, 'победит': 0.0, 'педагог': 0.14285714285714285, 'ностальгическ': 0.0, 'своей': 0.0, 'местам': 0.0, 'канадск': 0.0, 'роуд-муви': 0.0, 'свою': 0.14285714285714285, 'бывш': 0.0, 'собрал': 0.14285714285714285, 'обычн': 0.0, 'сша': 0.0, 'жизн': 0.0, 'девушк': 0.0, 'отличн': 0.0, 'должен': 0.0, 'студент': 0.0, 'фильм': 0.14285714285714285, 'который': 0.14285714285714285, 'музыкальн': 0.14285714285714285}

In [9]:
# IDF
def calculate_idf(doc_counts):
    idf = dict.fromkeys(doc_counts[0].keys(), 0)
    for doc in doc_counts: 
        for token, count in doc.items():
            if count!=0:
                idf[token] += 1
                
    for token, count in idf.items():
        idf[token] = math.log(len(doc_counts) / float(count))
       
    return idf

idf = calculate_idf([count_doc1, count_doc2, count_doc3])
print(idf)

{'групп': 1.0986122886681098, 'всех': 1.0986122886681098, 'студент-подросток': 1.0986122886681098, 'парн': 1.0986122886681098, 'победит': 1.0986122886681098, 'педагог': 0.4054651081081644, 'ностальгическ': 1.0986122886681098, 'своей': 1.0986122886681098, 'местам': 1.0986122886681098, 'канадск': 1.0986122886681098, 'роуд-муви': 1.0986122886681098, 'свою': 1.0986122886681098, 'бывш': 1.0986122886681098, 'собрал': 1.0986122886681098, 'обычн': 1.0986122886681098, 'сша': 1.0986122886681098, 'жизн': 1.0986122886681098, 'девушк': 1.0986122886681098, 'отличн': 1.0986122886681098, 'должен': 1.0986122886681098, 'студент': 1.0986122886681098, 'фильм': 1.0986122886681098, 'который': 1.0986122886681098, 'музыкальн': 1.0986122886681098}

In [10]:
# TF-IDF
def calculate_tfidf(tf, idf):
    tfidf = dict()
    for token, count in tf.items():
        tfidf[token] = count * idf[token]
    return tfidf

In [11]:
tfidf1 = calculate_tfidf(tf1, idf)
tfidf2 = calculate_tfidf(tf2, idf)
tfidf3 = calculate_tfidf(tf3, idf)

In [12]:
pd.DataFrame([tfidf1, tfidf2, tfidf3])

,групп,всех,студент-подросток,парн,победит,педагог,ностальгическ,своей,местам,канадск,...,обычн,сша,жизн,девушк,отличн,должен,студент,фильм,который,музыкальн
0,0.156945,0.000000,0.000000,0.000000,0.000000,0.057924,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.156945,0.156945,0.156945
1,0.000000,0.156945,0.000000,0.000000,0.000000,0.057924,0.156945,0.000000,0.156945,0.000000,...,0.000000,0.156945,0.000000,0.000000,0.156945,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.099874,0.099874,0.099874,0.000000,0.000000,0.099874,0.000000,0.099874,...,0.099874,0.000000,0.099874,0.099874,0.000000,0.099874,0.099874,0.000000,0.000000,0.000000